#header_result{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    align-items: flex-end;
    justify-content: space-around;
    border-bottom: 1px rgb(180, 180, 180) solid;
}
#header_result>div{
    width: 100%;
    height: 100%;
    line-height: 80px;
    font-size: 18px;
    text-align: center;
}
#blue_line{
    height: 3px;
    width: 15%;
    background-color: #33a6ff;
    left: 17%;
    border-radius: 20px;
    margin-top: 65px;
    position: absolute;
    transition: left 0.8s ease;
}
.selected{
    font-size: 20px;
    font-weight: 700;
}
#result_list{
    overflow: scroll;
    height: 85%;
}
#result_foot{
    height: 20%;
    font-size: 20px;
    text-align: center;
    color: #33a6ff;
}
#header_bg{
    background-color: #33a6ff;
    width: 100%;
    height: 25%;
}