#sets{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#sets>div{
    height: 55px;
    margin-left: 2.5%;
    width: 95%;
    line-height: 55px;
    background-color: rgb(238, 238, 238);
}
#sets>div>span{
    display: block;
    margin-left: 5%;
    font-size: 20px;
    float: left;
}
#sets>div>img{
    display: block;
    transform: scale(0.3);
    float: right;
}
#exit{
    width: 85%;;
    height: 50px;
    background-color: rgb(145, 145, 145);
    position: relative;
    top:200px;
    left: 7.5%;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height:50px ;
}